footer {
    padding-top: 40px;

    p {
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $gray-1;

        a {
            color: $gray-1;
            transition: all, 0.5s;

            &:hover {
                color: rgba($gray-1, 0.25);
            }
        }
    }
}