header {
    padding-bottom: 40px;

    p {
        font-family: 'Iconsolata';
        font-size: 24px;
        letter-spacing: -0.08em;
        line-height: 25px;
        text-transform: uppercase;
        color: $gray-1;
    }
}